<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geon.bis.link.mapper.BaseInfoMapper">
    <select id="getStation" parameterType="ParamBaseInfo" resultType="StationModel">
        select
            origin as origin,
            station_id as stationId,
            station_knm as stationKnm,
            station_tp as stationTp,
            center_yn as centerYn,
            admin_id as adminId,
            station_enm as stationEnm,
            coordinate_lati as coordinateLati,
            coordinate_long as coordinateLong,
            install_link_id as installLinkId,
            reg_date as regDate,
            remark as remark,
            ver as ver,
            total as total
        from public.get_station(#{origin}, #{ver})
    </select>
    <select id="getRoute" parameterType="ParamBaseInfo" resultType="RouteModel">
        select
            route_id as routeId,
            route_nm as routeNm,
            route_ty as routeTy,
            st_sta_id as stStaId,
            ed_sta_id as edStaId,
            md_sta_id as mdStaId,
            perm_vol as permVol,
            begin_date as beginDate,
            close_date as closeDate,
            '' as routeEx,
            company_id as companyId,
            admin_id as adminId,
            distance as distance,
            req_time as reqTime,
            charge as charge,
            regist_dt as regDate,
            '' as remark,
            ver as ver
        from public.get_route(#{origin}, #{ver})
    </select>
    <select id="getRouteStation" parameterType="ParamBaseInfo" resultType="RouteStationModel">
        select
            origin as origin,
            route_id as routeId,
            sequence as sequence,
            station_id as stationId,
            up_down as upDown,
            sum_dist as sumDist,
            remain_dist as remainDist,
            stat_dist as statDist,
            next_dist as nextDist,
            stat_tp as statTp,
            reg_date as regDate,
            remark as remark,
            ver as ver,
            total as total
        from public.get_route_station(#{origin}, #{ver})

    </select>
    <select id="getVehicle" parameterType="ParamBaseInfo" resultType="VehicleModel">
        select
            origin as origin,
            veh_id as vehId,
            plate_no as plateNo,
            veh_tp as vehTp,
            bus_tp as busTp,
            veh_capa as vehCapa,
            admin_id as adminId,
            company_id as companyId,
            reg_date as regDate,
            remark as remark,
            ver as ver,
            total as total
        from public.get_vehicle(#{origin}, #{ver})
    </select>
    <select id="getNode" parameterType="ParamBaseInfo" resultType="NodeModel">
        select 1;
    </select>
    <select id="getLink" parameterType="ParamBaseInfo" resultType="LinkModel">
        select 1;
    </select>
    <select id="getLinkCoords" parameterType="ParamBaseInfo" resultType="LinkCoordsModel">
        select 1;
    </select>
    <select id="getRoutePlan" parameterType="ParamBaseInfo" resultType="RoutePlanModel">
        select
            route_id as routeId,
            operation_week as operationWeek,
            operation_cnt as operationCnt,
            start_first_tm as startFirstTm,
            start_last_tm as startLastTm,
            end_first_tm as endFirstTm,
            end_last_tm as endLastTm,
            min_head as minHead,
            max_head as maxHead,
            reg_date as regDate,
            ver as ver
        from public.get_route_plan(#{origin}, #{ver});
    </select>
    <select id="getRouteLink" parameterType="ParamBaseInfo" resultType="RouteLinkModel">
        select 1;
    </select>
    <select id="getRouteAllocate" parameterType="ParamBaseInfo" resultType="RouteAllocateModel">
        select 1;
    </select>
    <select id="getCompany" parameterType="ParamBaseInfo" resultType="CompanyModel">
        select
            company_id as companyId,
            company_nm as companyNm,
            phone_no as phoneNo,
            fax_no as faxNo,
            address as address,
            ceo_nm as ceoNm,
            bus_cnt as busCnt,
            reg_cnt as regCnt,
            spare_cnt as spareCnt,
            admin_id as adminId,
            regist_dt as regDate,
            ver as ver
        from get_company(#{origin}, #{ver})
    </select>
    <select id="getAdmin" parameterType="ParamBaseInfo" resultType="AdminModel">
        select
            admin_id as adminId,
            moi_id as moiId,
            admin_nm1 as adminNm1,
            admin_nm2 as adminNm2,
            reg_date as regDate,
            remark as remark,
            ver as ver
        from get_admin(#{origin}, #{ver})
    </select>
</mapper>