<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geon.bis.link.mapper.BusArrvlPrdcInfoMapper">
    <resultMap id="ArrivalPredictionTimeInfoMap" type="com.geon.bis.link.mapper.model.ResultArrivalPredictionTimeInfo">
        <result column="updt_dt" property="messageGenerationTime" typeHandler="com.geon.bis.link.mapper.handler.ZonedDateTimeTypeHandler"/>
        <result column="event_cd" property="busEventCodeNumber"/>
        <result column="station_id" property="bITIdentityNumber"/>
        <result column="route_id" property="subRouteIdentityNumber"/>
        <result column="veh_id" property="pTVehicleIDNumber"/>
        <result column="remain_duration" property="accesspoINTArrivalTime"/>
        <result column="remain_station_cnt" property="accesspoINTArrivalCount"/>
        <result column="prev_station_id" property="lastBITIdentifyNumber"/>
        <result column="station_seq" property="nodeRouteSequence"/>
        <result column="prev_station_entry_dt" property="lastBITZoneEntryTime" typeHandler="com.geon.bis.link.mapper.handler.ZonedDateTimeTypeHandler"/>
        <result column="prev_station_exit_dt" property="lastBITZoneExitTime" typeHandler="com.geon.bis.link.mapper.handler.ZonedDateTimeTypeHandler"/>
        <result column="prev_station_stay_time" property="lastBITZoneTripTime"/>
        <result column="speed_rate" property="rollingAverageSpeedRate"/>
        <result column="is_last" property="lastPTVehicle"/>
        <result column="end_station_id" property="endNodeZoneIDNumber"/>
        <result column="end_station_seq" property="endNodeRouteSequence"/>
        <result column="total_seats_number" property="busTotalSeatsNumber"/>
        <result column="passenger_number" property="busPassengerNumber"/>
        <result column="remain_seats_number" property="busRemainSeatsNumber"/>
    </resultMap>
    <select id="getBusArr"
            parameterType="com.geon.bis.link.mapper.model.ParamArrivalPredictionTimeInfo"
            resultMap="ArrivalPredictionTimeInfoMap"
    >
        select
            arrv.updt_dt,
            arrv.event_cd::integer,
            arrv.station_id,
            arrv.route_id,
            arrv.veh_id,
            arrv.remain_duration,
            arrv.remain_station_cnt,
            arrv.prev_station_id,
            arrv.station_seq,

            arrv.prev_station_entry_dt,
            arrv.prev_station_exit_dt,
            arrv.prev_station_stay_time,

            30 as speed_rate,
            false as is_last,

            arrv.end_station_id,
            arrv.end_station_seq,

            ( select b.veh_capa from bus b where b.veh_id = arrv.veh_id ) as total_seats_number,
            -1 as passenger_number,
            -1 as remain_seats_number

        from get_bus_arrv(#{targetOrigin}) arrv;
    </select>
</mapper>