<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.geon.bis.link.mapper.BusLocationInfoMapper">
    <select id="find" parameterType="ParamBusLocationInfo" resultType="ResultBusLocationInfo">
        select
            veh_id as PTVehicleIDNumber,
            route_id as SubRouteIdentityNumber,
            event_cd as BusEventCodeNumber,
            bus_run_code_number as BusRunCodeNumber,
            last_pt_vehicle as LastPTVehicle,
            end_node_zone_id_number as EndNodeZoneIDNumber,
            end_node_route_sequence as EndNodeRouteSequence,
            bus_total_seats_number as BusTotalSeatsNumber,
            bus_passenger_number as BusPassengerNumber,
            bus_remain_seats_number as BusRemainSeatsNumber,

            message_generation_time as MessageGenerationTime,
            node_zone_id_number as NodeZoneIDNumber,
            node_route_sequence as NodeRouteSequence,
            node_zone_entry_time as NodeZoneEntryTime,
            node_zone_exit_time as NodeZoneExitTime,
            node_zone_trip_time as NodeZoneTripTime,

            pt_vehicle_coordinate_lati as PTVehicleCoordinateLati,
            pt_vehicle_coordinate_long as PTVehicleCoordinateLong,
            pt_vehicle_collected_time as PTVehicleCollectedTime,
            pt_vehicle_collected_cycle_time as PTVehicleCollectedCycleTime
        from
            public.get_bus_location_info(#{stdTime}, #{origin,jdbcType=ARRAY}, #{mode})
    </select>
</mapper>